.primary-bg{
    background-color:#0389b210;
}
.secondary-bg{
    background-color: #0389b222;
}

.text-red{
    color: rgb(201, 0, 0);
}
.text-green{
    color: green;
}

.bg-danger{
    background-color: rgb(201, 0, 0);
}

.text-white{
    color: white;
}
.text-gray{
    color: gray;
}

.text-primary{
   color: #0389b2e9;
}